@import '/src/fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



ul.react-multi-carousel-track {
  height: 100%;
}

ul.react-multi-carousel-dot-list {
  bottom: 20px;
}

@media (width > 1024px) {
  ul.react-multi-carousel-dot-list {
    bottom: 20px;
    left: 120px;
  }
}




